*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body, html {
    height: 100%;
  }

body{
    height: 100%;
    width: 100%;
    background-image: url('assets/sand.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.dark-sea{
    position: absolute;
    top: 0;
    left: 0;
    background-color: black;
    opacity: 0.75;
}

.sea{
    position: absolute;
    top: 0;
    left: 0;
    background-image: url('assets/sea.jpg');
    background-repeat: repeat;
    background-size: contain;
    padding: 2em;
    width: 100%;
    height: 200px;
    z-index: 3;
}

.card-grid{
    position: absolute;
    top: 2em;
    left: 0;
    display: flex;
    background-color: rgb(65, 185, 79);
    z-index: 2;
}

.card{
    width: 4em;
    height: 2em;
    background-color: crimson;
}